<h2>New Company</h2>

<%= form_for @company, url: {action: "new_company"} do |f| %>
  <div class="box tabular">
    <p><%= label_tag(:company_code, "Company Name:") %><%= f.text_field :company_name, :required => true %></p>
    <p><%= label_tag(:company_code, "Company Code:") %><%= f.text_field :company_code, :required => true %></p>
    <%= submit_tag l(:button_create) %>
  </div>
<% end %>